<h1>Welcome to my music store</h1>
<p>We have a wonderful selection of 4 lp's from no less than 2 different artists. So pick ur pick!</p>
<p>If you want to sell some lp's yourself, just go ahead and show us what you've got, by simply adding via the buttons below.</p>

<p>
  <%= link_to "New artist", new_artist_path %>
</p>

<p>
  <%= link_to "New song", new_song_path %>
</p>


<p>And see here our overview of songs and artists</p>

<%= link_to 'Artists', artists_path %>
<%= link_to 'Songs', songs_path %>
