<h1>Welcome to my music store</h1>
<p>We have a wonderful selection of 4 songs from no less than 2 different artists. Go ahead and check it out!</p>

<%= link_to 'Artists', artists_path %>
<%= link_to 'Songs', songs_path %>
